[Unit]
Description=bec-log-ingestor service
StartLimitBurst=3
StartLimitIntervalSec=120

[Service]
Type=exec
User=bec_log_ingestor
ExecStart=/usr/local/bin/bec_log_ingestor -c /etc/bec_log_ingestor.toml
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
